.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav{
  background-color: midnightblue;
  height: auto;
  color: white;
  font-size: 1.5rem;
  display: flex;
  padding: 10px;
}

.navItems{
  margin-left: auto;
  display: flex;
}

.navItems a{
  margin: 0px 10px;
}

.lineup{
  height: auto;
  margin: 15px 20px;
  background-color: black;
}

.player{
  height: 50px;
  width: 50px;
  background-color: green;
  position: relative;
}

@media all and (max-width: 768px) {
  .lineup{
    background-color: pink;
    margin: 0;
  }
}

