nav{
  background-color: midnightblue;
  height: auto;
  color: white;
  font-size: 1.5rem;
  display: flex;
  padding: 10px;
}

.navItems{
  margin-left: auto;
  display: flex;
}

.navItems a{
  margin: 0px 10px;
}

.lineup{
  height: 600px;
  width: 900px;
  margin: 15px auto;
  position: relative;
  background-color: rgb(0, 70, 21);
}

.player{
  height: 50px;
  width: 100px;
  padding: 5px;
  position: absolute;
  display: block;
  text-align: center;
  background-color: white;
}

.goalie{
  color: lime
}

.actionBar{
  text-align: center;
}

@media all and (max-width: 768px) {
  .lineup{
    background-color: pink;
    margin: 0;
  }
}

